* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
    white-space: nowrap;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    background-color: #0069f4;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: .8rem;
    font-size: 9px;
}

.nested {
    background-color: #00da66;
    border: 1px solid #0069f4;
}
